<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>art/AngryEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1781, 325}, {198, 224}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {198, 224}}</string>
			<key>sourceSize</key>
			<string>{198, 224}</string>
		</dict>
		<key>art/HappyEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1743, 1399}, {126, 122}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {126, 122}}</string>
			<key>sourceSize</key>
			<string>{126, 122}</string>
		</dict>
		<key>art/SadEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1781, 525}, {170, 212}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {170, 212}}</string>
			<key>sourceSize</key>
			<string>{170, 212}</string>
		</dict>
		<key>art/ScaredEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1781, 189}, {244, 134}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {244, 134}}</string>
			<key>sourceSize</key>
			<string>{244, 134}</string>
		</dict>
		<key>art/angertiletop.png</key>
		<dict>
			<key>frame</key>
			<string>{{2027, 257}, {66, 16}}</string>
			<key>offset</key>
			<string>{0, -26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 52}, {66, 16}}</string>
			<key>sourceSize</key>
			<string>{66, 68}</string>
		</dict>
		<key>art/angry_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1329}, {1136, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1136, 640}}</string>
			<key>sourceSize</key>
			<string>{1136, 640}</string>
		</dict>
		<key>art/angry_block.png</key>
		<dict>
			<key>frame</key>
			<string>{{1743, 1247}, {150, 150}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {150, 150}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>art/angry_block_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{1591, 1609}, {64, 64}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>art/angry_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1970, 697}, {528, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {528, 68}}</string>
			<key>sourceSize</key>
			<string>{528, 68}</string>
		</dict>
		<key>art/angry_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{1973, 1549}, {66, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {66, 68}}</string>
			<key>sourceSize</key>
			<string>{66, 68}</string>
		</dict>
		<key>art/calm_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1139, 1}, {1136, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1136, 640}}</string>
			<key>sourceSize</key>
			<string>{1136, 640}</string>
		</dict>
		<key>art/calm_block.png</key>
		<dict>
			<key>frame</key>
			<string>{{1895, 1329}, {150, 150}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {150, 150}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>art/calm_block_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{1591, 1543}, {64, 64}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>art/calm_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{531, 1971}, {528, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {528, 68}}</string>
			<key>sourceSize</key>
			<string>{528, 68}</string>
		</dict>
		<key>art/calm_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{1860, 1579}, {66, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {66, 68}}</string>
			<key>sourceSize</key>
			<string>{66, 68}</string>
		</dict>
		<key>art/fear_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1136, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1136, 640}}</string>
			<key>sourceSize</key>
			<string>{1136, 640}</string>
		</dict>
		<key>art/fear_block.png</key>
		<dict>
			<key>frame</key>
			<string>{{1591, 1291}, {150, 150}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {150, 150}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>art/fear_block_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{1930, 1617}, {64, 64}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>art/fear_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1061, 1971}, {528, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {528, 68}}</string>
			<key>sourceSize</key>
			<string>{528, 68}</string>
		</dict>
		<key>art/fear_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{1790, 1523}, {66, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {66, 68}}</string>
			<key>sourceSize</key>
			<string>{66, 68}</string>
		</dict>
		<key>art/feartiletop.png</key>
		<dict>
			<key>frame</key>
			<string>{{2027, 189}, {66, 16}}</string>
			<key>offset</key>
			<string>{0, -26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 52}, {66, 16}}</string>
			<key>sourceSize</key>
			<string>{66, 68}</string>
		</dict>
		<key>art/happy_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 643}, {1136, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1136, 640}}</string>
			<key>sourceSize</key>
			<string>{1136, 640}</string>
		</dict>
		<key>art/happy_block.png</key>
		<dict>
			<key>frame</key>
			<string>{{1591, 1139}, {150, 150}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {150, 150}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>art/happy_block_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{1657, 1589}, {64, 64}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>art/happy_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1971}, {528, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {528, 68}}</string>
			<key>sourceSize</key>
			<string>{528, 68}</string>
		</dict>
		<key>art/happy_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{1973, 1481}, {66, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {66, 68}}</string>
			<key>sourceSize</key>
			<string>{66, 68}</string>
		</dict>
		<key>art/happytiletop.png</key>
		<dict>
			<key>frame</key>
			<string>{{2007, 423}, {66, 16}}</string>
			<key>offset</key>
			<string>{0, -26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 52}, {66, 16}}</string>
			<key>sourceSize</key>
			<string>{66, 68}</string>
		</dict>
		<key>art/icepartical.png</key>
		<dict>
			<key>frame</key>
			<string>{{2007, 398}, {23, 32}}</string>
			<key>offset</key>
			<string>{-2, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {23, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>art/mario.png</key>
		<dict>
			<key>frame</key>
			<string>{{1956, 1227}, {79, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {79, 100}}</string>
			<key>sourceSize</key>
			<string>{80, 100}</string>
		</dict>
		<key>art/mask.png</key>
		<dict>
			<key>frame</key>
			<string>{{2007, 325}, {40, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 71}}</string>
			<key>sourceSize</key>
			<string>{40, 71}</string>
		</dict>
		<key>art/sad0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{1591, 1443}, {116, 98}}</string>
			<key>offset</key>
			<string>{-1, 13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15, 8}, {116, 98}}</string>
			<key>sourceSize</key>
			<string>{148, 140}</string>
		</dict>
		<key>art/sorrowtiletop.png</key>
		<dict>
			<key>frame</key>
			<string>{{2025, 423}, {66, 16}}</string>
			<key>offset</key>
			<string>{0, -26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 52}, {66, 16}}</string>
			<key>sourceSize</key>
			<string>{66, 68}</string>
		</dict>
		<key>art/space-invaders.png</key>
		<dict>
			<key>frame</key>
			<string>{{1995, 525}, {46, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7, 9}, {46, 42}}</string>
			<key>sourceSize</key>
			<string>{60, 60}</string>
		</dict>
		<key>art/star.png</key>
		<dict>
			<key>frame</key>
			<string>{{1871, 1481}, {100, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 96}}</string>
			<key>sourceSize</key>
			<string>{100, 96}</string>
		</dict>
		<key>art/tinymask_angry.png</key>
		<dict>
			<key>frame</key>
			<string>{{1781, 697}, {279, 187}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 64}, {279, 187}}</string>
			<key>sourceSize</key>
			<string>{280, 280}</string>
		</dict>
		<key>art/tinymask_calm.png</key>
		<dict>
			<key>frame</key>
			<string>{{1781, 1}, {256, 186}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12, 64}, {256, 186}}</string>
			<key>sourceSize</key>
			<string>{280, 280}</string>
		</dict>
		<key>art/tinymask_happy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1781, 978}, {173, 267}}</string>
			<key>offset</key>
			<string>{0, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53, 0}, {173, 267}}</string>
			<key>sourceSize</key>
			<string>{280, 280}</string>
		</dict>
		<key>art/tinymask_scared.png</key>
		<dict>
			<key>frame</key>
			<string>{{1709, 1523}, {64, 79}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {64, 79}}</string>
			<key>sourceSize</key>
			<string>{80, 80}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>art.png</string>
	</dict>
</dict>
</plist>
