<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>happymask0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {112, 119}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{112, 119}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 246}, {112, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 13}, {114, 111}}</string>
			<key>spriteOffset</key>
			<string>{2, -6}</string>
			<key>spriteSize</key>
			<string>{114, 111}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 367}, {114, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 13}, {114, 111}}</string>
			<key>spriteOffset</key>
			<string>{2, -6}</string>
			<key>spriteSize</key>
			<string>{114, 111}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 468}, {114, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 13}, {114, 111}}</string>
			<key>spriteOffset</key>
			<string>{2, -6}</string>
			<key>spriteSize</key>
			<string>{114, 111}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 238}, {114, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 13}, {114, 111}}</string>
			<key>spriteOffset</key>
			<string>{2, -6}</string>
			<key>spriteSize</key>
			<string>{114, 111}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456, 121}, {114, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 13}, {114, 111}}</string>
			<key>spriteOffset</key>
			<string>{2, -6}</string>
			<key>spriteSize</key>
			<string>{114, 111}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 351}, {114, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 12}, {114, 113}}</string>
			<key>spriteOffset</key>
			<string>{2, -6}</string>
			<key>spriteSize</key>
			<string>{114, 113}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 123}, {114, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 12}, {114, 113}}</string>
			<key>spriteOffset</key>
			<string>{2, -6}</string>
			<key>spriteSize</key>
			<string>{114, 113}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 353}, {114, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 12}, {114, 113}}</string>
			<key>spriteOffset</key>
			<string>{2, -6}</string>
			<key>spriteSize</key>
			<string>{114, 113}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 123}, {114, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 12}, {114, 113}}</string>
			<key>spriteOffset</key>
			<string>{2, -6}</string>
			<key>spriteSize</key>
			<string>{114, 113}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 238}, {114, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {112, 121}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{112, 121}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {112, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {112, 121}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{112, 121}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 123}, {112, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {112, 121}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{112, 121}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 0}, {112, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {112, 121}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{112, 121}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{342, 0}, {112, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {112, 121}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{112, 121}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 0}, {112, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {112, 119}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{112, 119}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 238}, {112, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {112, 119}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{112, 119}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 0}, {112, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {112, 119}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{112, 119}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 351}, {112, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {112, 119}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{112, 119}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 121}, {112, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {112, 119}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{112, 119}</string>
			<key>spriteSourceSize</key>
			<string>{124, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456, 0}, {112, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>happymask</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>happymask_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>happymask_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>