<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>happy0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 57}, {123, 76}}</string>
			<key>spriteOffset</key>
			<string>{-10, -13}</string>
			<key>spriteSize</key>
			<string>{123, 76}</string>
			<key>spriteSourceSize</key>
			<string>{153, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{125, 112}, {123, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 59}, {123, 76}}</string>
			<key>spriteOffset</key>
			<string>{-10, -15}</string>
			<key>spriteSize</key>
			<string>{123, 76}</string>
			<key>spriteSourceSize</key>
			<string>{153, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 78}, {123, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 60}, {123, 76}}</string>
			<key>spriteOffset</key>
			<string>{-8, -16}</string>
			<key>spriteSize</key>
			<string>{123, 76}</string>
			<key>spriteSourceSize</key>
			<string>{153, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {123, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 61}, {119, 76}}</string>
			<key>spriteOffset</key>
			<string>{-5, -17}</string>
			<key>spriteSize</key>
			<string>{119, 76}</string>
			<key>spriteSourceSize</key>
			<string>{153, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 234}, {119, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 60}, {121, 76}}</string>
			<key>spriteOffset</key>
			<string>{-5, -16}</string>
			<key>spriteSize</key>
			<string>{121, 76}</string>
			<key>spriteSourceSize</key>
			<string>{153, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 156}, {121, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 52}, {115, 82}}</string>
			<key>spriteOffset</key>
			<string>{-7, -11}</string>
			<key>spriteSize</key>
			<string>{115, 82}</string>
			<key>spriteSourceSize</key>
			<string>{153, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{117, 312}, {115, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 39}, {107, 94}}</string>
			<key>spriteOffset</key>
			<string>{-11, -4}</string>
			<key>spriteSize</key>
			<string>{107, 94}</string>
			<key>spriteSourceSize</key>
			<string>{153, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 104}, {107, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 32}, {99, 104}}</string>
			<key>spriteOffset</key>
			<string>{-14, -2}</string>
			<key>spriteSize</key>
			<string>{99, 104}</string>
			<key>spriteSourceSize</key>
			<string>{153, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{339, 0}, {99, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 22}, {95, 112}}</string>
			<key>spriteOffset</key>
			<string>{-15, 4}</string>
			<key>spriteSize</key>
			<string>{95, 112}</string>
			<key>spriteSourceSize</key>
			<string>{153, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{349, 106}, {95, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 13}, {93, 120}}</string>
			<key>spriteOffset</key>
			<string>{-15, 9}</string>
			<key>spriteSize</key>
			<string>{93, 120}</string>
			<key>spriteSourceSize</key>
			<string>{153, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 326}, {93, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 10}, {93, 122}}</string>
			<key>spriteOffset</key>
			<string>{-15, 11}</string>
			<key>spriteSize</key>
			<string>{93, 122}</string>
			<key>spriteSourceSize</key>
			<string>{153, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{361, 220}, {93, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 9}, {97, 116}}</string>
			<key>spriteOffset</key>
			<string>{-15, 15}</string>
			<key>spriteSize</key>
			<string>{97, 116}</string>
			<key>spriteSourceSize</key>
			<string>{153, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 108}, {97, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 7}, {103, 110}}</string>
			<key>spriteOffset</key>
			<string>{-13, 20}</string>
			<key>spriteSize</key>
			<string>{103, 110}</string>
			<key>spriteSourceSize</key>
			<string>{153, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{125, 0}, {103, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 3}, {107, 106}}</string>
			<key>spriteOffset</key>
			<string>{-10, 26}</string>
			<key>spriteSize</key>
			<string>{107, 106}</string>
			<key>spriteSourceSize</key>
			<string>{153, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 0}, {107, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 11}, {111, 102}}</string>
			<key>spriteOffset</key>
			<string>{-11, 20}</string>
			<key>spriteSize</key>
			<string>{111, 102}</string>
			<key>spriteSourceSize</key>
			<string>{153, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{440, 0}, {111, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 21}, {115, 98}}</string>
			<key>spriteOffset</key>
			<string>{-12, 12}</string>
			<key>spriteSize</key>
			<string>{115, 98}</string>
			<key>spriteSourceSize</key>
			<string>{153, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 226}, {115, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 33}, {119, 90}}</string>
			<key>spriteOffset</key>
			<string>{-14, 4}</string>
			<key>spriteSize</key>
			<string>{119, 90}</string>
			<key>spriteSourceSize</key>
			<string>{153, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 190}, {119, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 45}, {115, 84}}</string>
			<key>spriteOffset</key>
			<string>{-12, -5}</string>
			<key>spriteSize</key>
			<string>{115, 84}</string>
			<key>spriteSourceSize</key>
			<string>{153, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 312}, {115, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>happy</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>happy_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>happy_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
