<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>angry0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 78}, {124, 78}}</string>
			<key>spriteOffset</key>
			<string>{-4, -37}</string>
			<key>spriteSize</key>
			<string>{124, 78}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 232}, {124, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>angry0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 82}, {124, 76}}</string>
			<key>spriteOffset</key>
			<string>{-4, -40}</string>
			<key>spriteSize</key>
			<string>{124, 76}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 412}, {124, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>angry0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 84}, {122, 76}}</string>
			<key>spriteOffset</key>
			<string>{-2, -42}</string>
			<key>spriteSize</key>
			<string>{122, 76}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 546}, {122, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>angry0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 84}, {120, 76}}</string>
			<key>spriteOffset</key>
			<string>{2, -42}</string>
			<key>spriteSize</key>
			<string>{120, 76}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 764}, {120, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>angry0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 83}, {122, 76}}</string>
			<key>spriteOffset</key>
			<string>{1, -41}</string>
			<key>spriteSize</key>
			<string>{122, 76}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 592}, {122, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>angry0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 69}, {110, 88}}</string>
			<key>spriteOffset</key>
			<string>{-3, -33}</string>
			<key>spriteSize</key>
			<string>{110, 88}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1206, 0}, {110, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>angry0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 55}, {98, 104}}</string>
			<key>spriteOffset</key>
			<string>{-8, -27}</string>
			<key>spriteSize</key>
			<string>{98, 104}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{846, 108}, {98, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>angry0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 46}, {100, 112}}</string>
			<key>spriteOffset</key>
			<string>{-6, -22}</string>
			<key>spriteSize</key>
			<string>{100, 112}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{346, 0}, {100, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>angry0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 39}, {102, 116}}</string>
			<key>spriteOffset</key>
			<string>{-5, -17}</string>
			<key>spriteSize</key>
			<string>{102, 116}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 114}, {102, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>angry0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 38}, {104, 112}}</string>
			<key>spriteOffset</key>
			<string>{-5, -14}</string>
			<key>spriteSize</key>
			<string>{104, 112}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 0}, {104, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>angry0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 37}, {108, 108}}</string>
			<key>spriteOffset</key>
			<string>{-5, -11}</string>
			<key>spriteSize</key>
			<string>{108, 108}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{658, 0}, {108, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>angry0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 36}, {108, 106}}</string>
			<key>spriteOffset</key>
			<string>{-4, -9}</string>
			<key>spriteSize</key>
			<string>{108, 106}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{736, 110}, {108, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>angry0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 36}, {106, 102}}</string>
			<key>spriteOffset</key>
			<string>{-2, -7}</string>
			<key>spriteSize</key>
			<string>{106, 102}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{600, 630}, {106, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>angry0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 34}, {106, 98}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{106, 98}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{918, 316}, {106, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>angry0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 44}, {112, 94}}</string>
			<key>spriteOffset</key>
			<string>{-3, -11}</string>
			<key>spriteSize</key>
			<string>{112, 94}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1092, 0}, {112, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>angry0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 53}, {116, 88}}</string>
			<key>spriteOffset</key>
			<string>{-5, -17}</string>
			<key>spriteSize</key>
			<string>{116, 88}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{708, 630}, {116, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>angry0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 63}, {116, 84}}</string>
			<key>spriteOffset</key>
			<string>{-6, -25}</string>
			<key>spriteSize</key>
			<string>{116, 84}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{926, 512}, {116, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>angry0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 74}, {120, 78}}</string>
			<key>spriteOffset</key>
			<string>{-4, -33}</string>
			<key>spriteSize</key>
			<string>{120, 78}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 700}, {120, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>angry0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 78}, {124, 78}}</string>
			<key>spriteOffset</key>
			<string>{-4, -37}</string>
			<key>spriteSize</key>
			<string>{124, 78}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 254}, {124, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>calm0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 81}, {122, 76}}</string>
			<key>spriteOffset</key>
			<string>{4, -39}</string>
			<key>spriteSize</key>
			<string>{122, 76}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 490}, {122, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>calm0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 83}, {124, 76}}</string>
			<key>spriteOffset</key>
			<string>{5, -41}</string>
			<key>spriteSize</key>
			<string>{124, 76}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 390}, {124, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>calm0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 84}, {124, 76}}</string>
			<key>spriteOffset</key>
			<string>{7, -42}</string>
			<key>spriteSize</key>
			<string>{124, 76}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 282}, {124, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>calm0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{49, 82}, {124, 78}}</string>
			<key>spriteOffset</key>
			<string>{11, -41}</string>
			<key>spriteSize</key>
			<string>{124, 78}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 202}, {124, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>calm0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{49, 78}, {126, 82}}</string>
			<key>spriteOffset</key>
			<string>{12, -39}</string>
			<key>spriteSize</key>
			<string>{126, 82}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 84}, {126, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>calm0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{49, 77}, {126, 82}}</string>
			<key>spriteOffset</key>
			<string>{12, -38}</string>
			<key>spriteSize</key>
			<string>{126, 82}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {126, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>calm0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 74}, {124, 84}}</string>
			<key>spriteOffset</key>
			<string>{12, -36}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 168}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>calm0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 72}, {124, 86}}</string>
			<key>spriteOffset</key>
			<string>{12, -35}</string>
			<key>spriteSize</key>
			<string>{124, 86}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 114}, {124, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>calm0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{51, 66}, {120, 92}}</string>
			<key>spriteOffset</key>
			<string>{11, -32}</string>
			<key>spriteSize</key>
			<string>{120, 92}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 670}, {120, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>calm0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{51, 54}, {114, 104}}</string>
			<key>spriteOffset</key>
			<string>{8, -26}</string>
			<key>spriteSize</key>
			<string>{114, 104}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{702, 336}, {114, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>calm0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{51, 44}, {110, 112}}</string>
			<key>spriteOffset</key>
			<string>{6, -20}</string>
			<key>spriteSize</key>
			<string>{110, 112}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 0}, {110, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>calm0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{51, 44}, {112, 106}}</string>
			<key>spriteOffset</key>
			<string>{7, -17}</string>
			<key>spriteSize</key>
			<string>{112, 106}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{650, 228}, {112, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>calm0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 44}, {108, 100}}</string>
			<key>spriteOffset</key>
			<string>{8, -14}</string>
			<key>spriteSize</key>
			<string>{108, 100}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{876, 214}, {108, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>calm0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{59, 44}, {104, 96}}</string>
			<key>spriteOffset</key>
			<string>{11, -12}</string>
			<key>spriteSize</key>
			<string>{104, 96}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{986, 200}, {104, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>calm0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 53}, {108, 90}}</string>
			<key>spriteOffset</key>
			<string>{9, -18}</string>
			<key>spriteSize</key>
			<string>{108, 90}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1026, 298}, {108, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>calm0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 60}, {112, 86}}</string>
			<key>spriteOffset</key>
			<string>{6, -23}</string>
			<key>spriteSize</key>
			<string>{112, 86}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1206, 90}, {112, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>calm0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 68}, {118, 80}}</string>
			<key>spriteOffset</key>
			<string>{5, -28}</string>
			<key>spriteSize</key>
			<string>{118, 80}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{368, 708}, {118, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>calm0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 76}, {120, 76}}</string>
			<key>spriteOffset</key>
			<string>{5, -34}</string>
			<key>spriteSize</key>
			<string>{120, 76}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 816}, {120, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>calm0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 81}, {122, 76}}</string>
			<key>spriteOffset</key>
			<string>{4, -39}</string>
			<key>spriteSize</key>
			<string>{122, 76}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 468}, {122, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happy0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 82}, {124, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, -40}</string>
			<key>spriteSize</key>
			<string>{124, 76}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 354}, {124, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happy0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 83}, {124, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, -41}</string>
			<key>spriteSize</key>
			<string>{124, 76}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 360}, {124, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happy0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 84}, {122, 76}}</string>
			<key>spriteOffset</key>
			<string>{1, -42}</string>
			<key>spriteSize</key>
			<string>{122, 76}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 514}, {122, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happy0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 86}, {120, 74}}</string>
			<key>spriteOffset</key>
			<string>{5, -43}</string>
			<key>spriteSize</key>
			<string>{120, 74}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{600, 554}, {120, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happy0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 84}, {122, 76}}</string>
			<key>spriteOffset</key>
			<string>{4, -42}</string>
			<key>spriteSize</key>
			<string>{122, 76}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{500, 476}, {122, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happy0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 76}, {116, 82}}</string>
			<key>spriteOffset</key>
			<string>{2, -37}</string>
			<key>spriteSize</key>
			<string>{116, 82}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1034, 390}, {116, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happy0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 64}, {106, 94}}</string>
			<key>spriteOffset</key>
			<string>{-2, -31}</string>
			<key>spriteSize</key>
			<string>{106, 94}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{826, 624}, {106, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happy0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 56}, {98, 104}}</string>
			<key>spriteOffset</key>
			<string>{-5, -28}</string>
			<key>spriteSize</key>
			<string>{98, 104}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{876, 0}, {98, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happy0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 46}, {96, 114}}</string>
			<key>spriteOffset</key>
			<string>{-5, -23}</string>
			<key>spriteSize</key>
			<string>{96, 114}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{638, 112}, {96, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happy0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 37}, {92, 120}}</string>
			<key>spriteOffset</key>
			<string>{-6, -17}</string>
			<key>spriteSize</key>
			<string>{92, 120}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{504, 354}, {92, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happy0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 35}, {94, 120}}</string>
			<key>spriteOffset</key>
			<string>{-6, -15}</string>
			<key>spriteSize</key>
			<string>{94, 120}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 232}, {94, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happy0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 33}, {98, 114}}</string>
			<key>spriteOffset</key>
			<string>{-6, -10}</string>
			<key>spriteSize</key>
			<string>{98, 114}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{550, 238}, {98, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happy0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 32}, {102, 108}}</string>
			<key>spriteOffset</key>
			<string>{-4, -6}</string>
			<key>spriteSize</key>
			<string>{102, 108}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598, 354}, {102, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happy0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 27}, {106, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 106}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{768, 0}, {106, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happy0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 36}, {110, 102}}</string>
			<key>spriteOffset</key>
			<string>{-2, -7}</string>
			<key>spriteSize</key>
			<string>{110, 102}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{702, 442}, {110, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happy0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 45}, {114, 98}}</string>
			<key>spriteOffset</key>
			<string>{-3, -14}</string>
			<key>spriteSize</key>
			<string>{114, 98}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{976, 0}, {114, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happy0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 57}, {120, 90}}</string>
			<key>spriteOffset</key>
			<string>{-4, -22}</string>
			<key>spriteSize</key>
			<string>{120, 90}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 724}, {120, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happy0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 70}, {116, 82}}</string>
			<key>spriteOffset</key>
			<string>{-3, -31}</string>
			<key>spriteSize</key>
			<string>{116, 82}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1136, 286}, {116, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happy0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 82}, {124, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, -40}</string>
			<key>spriteSize</key>
			<string>{124, 76}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 334}, {124, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kaput0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{59, 36}, {74, 124}}</string>
			<key>spriteOffset</key>
			<string>{-4, -18}</string>
			<key>spriteSize</key>
			<string>{74, 124}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{562, 112}, {74, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kaput0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{59, 36}, {74, 124}}</string>
			<key>spriteOffset</key>
			<string>{-4, -18}</string>
			<key>spriteSize</key>
			<string>{74, 124}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{474, 228}, {74, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kaput0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 47}, {102, 106}}</string>
			<key>spriteOffset</key>
			<string>{-3, -20}</string>
			<key>spriteSize</key>
			<string>{102, 106}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{496, 554}, {102, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kaput0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 45}, {106, 98}}</string>
			<key>spriteOffset</key>
			<string>{-4, -14}</string>
			<key>spriteSize</key>
			<string>{106, 98}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{818, 428}, {106, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kaput0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 40}, {108, 94}}</string>
			<key>spriteOffset</key>
			<string>{-6, -7}</string>
			<key>spriteSize</key>
			<string>{108, 94}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{814, 528}, {108, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kaput0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 36}, {110, 90}}</string>
			<key>spriteOffset</key>
			<string>{-7, -1}</string>
			<key>spriteSize</key>
			<string>{110, 90}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{488, 708}, {110, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kaput0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 33}, {112, 86}}</string>
			<key>spriteOffset</key>
			<string>{-8, 4}</string>
			<key>spriteSize</key>
			<string>{112, 86}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1318, 0}, {112, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kaput0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 30}, {114, 80}}</string>
			<key>spriteOffset</key>
			<string>{-9, 10}</string>
			<key>spriteSize</key>
			<string>{114, 80}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1320, 88}, {114, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kaput0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 28}, {114, 76}}</string>
			<key>spriteOffset</key>
			<string>{-10, 14}</string>
			<key>spriteSize</key>
			<string>{114, 76}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1432, 0}, {114, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kaput0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 26}, {116, 74}}</string>
			<key>spriteOffset</key>
			<string>{-10, 17}</string>
			<key>spriteSize</key>
			<string>{116, 74}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 720}, {116, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kaput0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 24}, {116, 72}}</string>
			<key>spriteOffset</key>
			<string>{-10, 20}</string>
			<key>spriteSize</key>
			<string>{116, 72}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{934, 598}, {116, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kaput0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 22}, {118, 72}}</string>
			<key>spriteOffset</key>
			<string>{-10, 22}</string>
			<key>spriteSize</key>
			<string>{118, 72}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 894}, {118, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kaput0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 21}, {118, 72}}</string>
			<key>spriteOffset</key>
			<string>{-10, 23}</string>
			<key>spriteSize</key>
			<string>{118, 72}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 842}, {118, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kaput0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 21}, {118, 70}}</string>
			<key>spriteOffset</key>
			<string>{-11, 24}</string>
			<key>spriteSize</key>
			<string>{118, 70}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 968}, {118, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kaput0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 20}, {118, 70}}</string>
			<key>spriteOffset</key>
			<string>{-11, 25}</string>
			<key>spriteSize</key>
			<string>{118, 70}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 916}, {118, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kaput0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 20}, {118, 70}}</string>
			<key>spriteOffset</key>
			<string>{-11, 25}</string>
			<key>spriteSize</key>
			<string>{118, 70}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 860}, {118, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kaput0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 32}, {118, 70}}</string>
			<key>spriteOffset</key>
			<string>{-11, 13}</string>
			<key>spriteSize</key>
			<string>{118, 70}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{708, 720}, {118, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kaput0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 43}, {118, 72}}</string>
			<key>spriteOffset</key>
			<string>{-11, 1}</string>
			<key>spriteSize</key>
			<string>{118, 72}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 790}, {118, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kaput0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 53}, {122, 74}}</string>
			<key>spriteOffset</key>
			<string>{-10, -10}</string>
			<key>spriteSize</key>
			<string>{122, 74}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 624}, {122, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fear0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 82}, {122, 76}}</string>
			<key>spriteOffset</key>
			<string>{-6, -40}</string>
			<key>spriteSize</key>
			<string>{122, 76}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 568}, {122, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fear0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 84}, {124, 74}}</string>
			<key>spriteOffset</key>
			<string>{-5, -41}</string>
			<key>spriteSize</key>
			<string>{124, 74}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 438}, {124, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fear0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 84}, {124, 76}}</string>
			<key>spriteOffset</key>
			<string>{-3, -42}</string>
			<key>spriteSize</key>
			<string>{124, 76}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 312}, {124, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fear0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 86}, {122, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -43}</string>
			<key>spriteSize</key>
			<string>{122, 74}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 546}, {122, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fear0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 84}, {122, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -42}</string>
			<key>spriteSize</key>
			<string>{122, 76}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376, 468}, {122, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fear0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 77}, {114, 82}}</string>
			<key>spriteOffset</key>
			<string>{-3, -38}</string>
			<key>spriteSize</key>
			<string>{114, 82}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1210, 178}, {114, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fear0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 64}, {106, 94}}</string>
			<key>spriteOffset</key>
			<string>{-7, -31}</string>
			<key>spriteSize</key>
			<string>{106, 94}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{926, 416}, {106, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fear0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 57}, {98, 102}}</string>
			<key>spriteOffset</key>
			<string>{-10, -28}</string>
			<key>spriteSize</key>
			<string>{98, 102}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{818, 324}, {98, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fear0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 50}, {100, 110}}</string>
			<key>spriteOffset</key>
			<string>{-8, -25}</string>
			<key>spriteSize</key>
			<string>{100, 110}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{556, 0}, {100, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fear0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 44}, {100, 114}}</string>
			<key>spriteOffset</key>
			<string>{-7, -21}</string>
			<key>spriteSize</key>
			<string>{100, 114}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 112}, {100, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fear0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 40}, {100, 116}}</string>
			<key>spriteOffset</key>
			<string>{-7, -18}</string>
			<key>spriteSize</key>
			<string>{100, 116}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{358, 114}, {100, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fear0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 40}, {106, 110}}</string>
			<key>spriteOffset</key>
			<string>{-6, -15}</string>
			<key>spriteSize</key>
			<string>{106, 110}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{448, 0}, {106, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fear0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 41}, {110, 104}}</string>
			<key>spriteOffset</key>
			<string>{-5, -13}</string>
			<key>spriteSize</key>
			<string>{110, 104}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{764, 218}, {110, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fear0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 42}, {112, 98}}</string>
			<key>spriteOffset</key>
			<string>{-3, -11}</string>
			<key>spriteSize</key>
			<string>{112, 98}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{976, 100}, {112, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fear0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 50}, {114, 94}}</string>
			<key>spriteOffset</key>
			<string>{-5, -17}</string>
			<key>spriteSize</key>
			<string>{114, 94}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1090, 100}, {114, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fear0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 58}, {116, 88}}</string>
			<key>spriteOffset</key>
			<string>{-7, -22}</string>
			<key>spriteSize</key>
			<string>{116, 88}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1092, 196}, {116, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fear0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 67}, {120, 84}}</string>
			<key>spriteOffset</key>
			<string>{-8, -29}</string>
			<key>spriteSize</key>
			<string>{120, 84}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 622}, {120, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fear0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 76}, {118, 78}}</string>
			<key>spriteOffset</key>
			<string>{-6, -35}</string>
			<key>spriteSize</key>
			<string>{118, 78}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 780}, {118, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fear0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 82}, {122, 76}}</string>
			<key>spriteOffset</key>
			<string>{-6, -40}</string>
			<key>spriteSize</key>
			<string>{122, 76}</string>
			<key>spriteSourceSize</key>
			<string>{200, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 646}, {122, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>hero-hd</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>hero-hd_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>hero-hd_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>