<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>sad0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 81}, {255, 157}}</string>
			<key>spriteOffset</key>
			<string>{-11, -20}</string>
			<key>spriteSize</key>
			<string>{255, 157}</string>
			<key>spriteSourceSize</key>
			<string>{295, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 489}, {255, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sad0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 84}, {255, 155}}</string>
			<key>spriteOffset</key>
			<string>{-10, -22}</string>
			<key>spriteSize</key>
			<string>{255, 155}</string>
			<key>spriteSourceSize</key>
			<string>{295, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 563}, {255, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sad0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 87}, {253, 157}}</string>
			<key>spriteOffset</key>
			<string>{-6, -26}</string>
			<key>spriteSize</key>
			<string>{253, 157}</string>
			<key>spriteSourceSize</key>
			<string>{295, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 330}, {253, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sad0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 85}, {257, 159}}</string>
			<key>spriteOffset</key>
			<string>{4, -25}</string>
			<key>spriteSize</key>
			<string>{257, 159}</string>
			<key>spriteSourceSize</key>
			<string>{295, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{237, 169}, {257, 159}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sad0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 77}, {261, 167}}</string>
			<key>spriteOffset</key>
			<string>{6, -21}</string>
			<key>spriteSize</key>
			<string>{261, 167}</string>
			<key>spriteSourceSize</key>
			<string>{295, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {261, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sad0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 51}, {249, 189}}</string>
			<key>spriteOffset</key>
			<string>{3, -6}</string>
			<key>spriteSize</key>
			<string>{249, 189}</string>
			<key>spriteSourceSize</key>
			<string>{295, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{508, 0}, {249, 189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sad0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 26}, {235, 213}}</string>
			<key>spriteOffset</key>
			<string>{-3, 7}</string>
			<key>spriteSize</key>
			<string>{235, 213}</string>
			<key>spriteSourceSize</key>
			<string>{295, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 169}, {235, 213}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sad0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 4}, {215, 197}}</string>
			<key>spriteOffset</key>
			<string>{3, 37}</string>
			<key>spriteSize</key>
			<string>{215, 197}</string>
			<key>spriteSourceSize</key>
			<string>{295, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{237, 330}, {215, 197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sad0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 20}, {223, 187}}</string>
			<key>spriteOffset</key>
			<string>{-2, 26}</string>
			<key>spriteSize</key>
			<string>{223, 187}</string>
			<key>spriteSourceSize</key>
			<string>{295, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{709, 191}, {223, 187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sad0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 37}, {231, 177}}</string>
			<key>spriteOffset</key>
			<string>{-7, 14}</string>
			<key>spriteSize</key>
			<string>{231, 177}</string>
			<key>spriteSourceSize</key>
			<string>{295, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 384}, {231, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sad0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 54}, {243, 167}}</string>
			<key>spriteOffset</key>
			<string>{-10, 2}</string>
			<key>spriteSize</key>
			<string>{243, 167}</string>
			<key>spriteSourceSize</key>
			<string>{295, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{263, 0}, {243, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sad0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 71}, {249, 157}}</string>
			<key>spriteOffset</key>
			<string>{-9, -10}</string>
			<key>spriteSize</key>
			<string>{249, 157}</string>
			<key>spriteSourceSize</key>
			<string>{295, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{759, 0}, {249, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>sad</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>sad_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>sad_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>