<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>scared0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 96}, {253, 156}}</string>
			<key>spriteOffset</key>
			<string>{-15, -24}</string>
			<key>spriteSize</key>
			<string>{253, 156}</string>
			<key>spriteSourceSize</key>
			<string>{301, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{255, 228}, {253, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 99}, {255, 156}}</string>
			<key>spriteOffset</key>
			<string>{-14, -27}</string>
			<key>spriteSize</key>
			<string>{255, 156}</string>
			<key>spriteSourceSize</key>
			<string>{301, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {255, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 102}, {253, 158}}</string>
			<key>spriteOffset</key>
			<string>{-9, -31}</string>
			<key>spriteSize</key>
			<string>{253, 158}</string>
			<key>spriteSourceSize</key>
			<string>{301, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 158}, {253, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 105}, {249, 154}}</string>
			<key>spriteOffset</key>
			<string>{-3, -32}</string>
			<key>spriteSize</key>
			<string>{249, 154}</string>
			<key>spriteSourceSize</key>
			<string>{301, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{253, 386}, {249, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 101}, {251, 158}}</string>
			<key>spriteOffset</key>
			<string>{-3, -30}</string>
			<key>spriteSize</key>
			<string>{251, 158}</string>
			<key>spriteSourceSize</key>
			<string>{301, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 318}, {251, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 85}, {235, 170}}</string>
			<key>spriteOffset</key>
			<string>{-9, -20}</string>
			<key>spriteSize</key>
			<string>{235, 170}</string>
			<key>spriteSourceSize</key>
			<string>{301, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 652}, {235, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 59}, {217, 194}}</string>
			<key>spriteOffset</key>
			<string>{-16, -6}</string>
			<key>spriteSize</key>
			<string>{217, 194}</string>
			<key>spriteSourceSize</key>
			<string>{301, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{235, 824}, {217, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 44}, {203, 212}}</string>
			<key>spriteOffset</key>
			<string>{-22, -0}</string>
			<key>spriteSize</key>
			<string>{203, 212}</string>
			<key>spriteSourceSize</key>
			<string>{301, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{908, 0}, {203, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 30}, {203, 226}}</string>
			<key>spriteOffset</key>
			<string>{-20, 7}</string>
			<key>spriteSize</key>
			<string>{203, 226}</string>
			<key>spriteSourceSize</key>
			<string>{301, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{476, 0}, {203, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 18}, {205, 236}}</string>
			<key>spriteOffset</key>
			<string>{-18, 14}</string>
			<key>spriteSize</key>
			<string>{205, 236}</string>
			<key>spriteSourceSize</key>
			<string>{301, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{719, 218}, {205, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 10}, {207, 238}}</string>
			<key>spriteOffset</key>
			<string>{-17, 21}</string>
			<key>spriteSize</key>
			<string>{207, 238}</string>
			<key>spriteSourceSize</key>
			<string>{301, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{510, 228}, {207, 238}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 10}, {217, 226}}</string>
			<key>spriteOffset</key>
			<string>{-16, 27}</string>
			<key>spriteSize</key>
			<string>{217, 226}</string>
			<key>spriteSourceSize</key>
			<string>{301, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{257, 0}, {217, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 11}, {225, 216}}</string>
			<key>spriteOffset</key>
			<string>{-13, 31}</string>
			<key>spriteSize</key>
			<string>{225, 216}</string>
			<key>spriteSourceSize</key>
			<string>{301, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{681, 0}, {225, 216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 13}, {227, 202}}</string>
			<key>spriteOffset</key>
			<string>{-9, 36}</string>
			<key>spriteSize</key>
			<string>{227, 202}</string>
			<key>spriteSourceSize</key>
			<string>{301, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{490, 632}, {227, 202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 30}, {233, 192}}</string>
			<key>spriteOffset</key>
			<string>{-13, 24}</string>
			<key>spriteSize</key>
			<string>{233, 192}</string>
			<key>spriteSourceSize</key>
			<string>{301, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 824}, {233, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 47}, {241, 182}}</string>
			<key>spriteOffset</key>
			<string>{-16, 12}</string>
			<key>spriteSize</key>
			<string>{241, 182}</string>
			<key>spriteSourceSize</key>
			<string>{301, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 542}, {241, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 66}, {245, 172}}</string>
			<key>spriteOffset</key>
			<string>{-21, -2}</string>
			<key>spriteSize</key>
			<string>{245, 172}</string>
			<key>spriteSourceSize</key>
			<string>{301, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 478}, {245, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>scared0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 84}, {245, 162}}</string>
			<key>spriteOffset</key>
			<string>{-14, -15}</string>
			<key>spriteSize</key>
			<string>{245, 162}</string>
			<key>spriteSourceSize</key>
			<string>{301, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{504, 468}, {245, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>scared</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>scared_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>scared_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>