<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>art/angry_block.png</key>
		<dict>
			<key>frame</key>
			<string>{{725, 1}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>art/calm_block.png</key>
		<dict>
			<key>frame</key>
			<string>{{648, 1}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>art/happy_block.png</key>
		<dict>
			<key>frame</key>
			<string>{{571, 1}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>art/mario.png</key>
		<dict>
			<key>frame</key>
			<string>{{802, 1}, {39, 49}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {39, 49}}</string>
			<key>sourceSize</key>
			<string>{40, 50}</string>
		</dict>
		<key>art/sad_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {568, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {568, 320}}</string>
			<key>sourceSize</key>
			<string>{568, 320}</string>
		</dict>
		<key>art/space-invaders.png</key>
		<dict>
			<key>frame</key>
			<string>{{853, 1}, {22, 20}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 5}, {22, 20}}</string>
			<key>sourceSize</key>
			<string>{30, 30}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>art.png</string>
	</dict>
</dict>
</plist>
