<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>art/AngryEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{321, 967}, {49, 56}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {49, 56}}</string>
			<key>sourceSize</key>
			<string>{49, 56}</string>
		</dict>
		<key>art/HappyEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{865, 883}, {31, 30}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {31, 30}}</string>
			<key>sourceSize</key>
			<string>{31, 30}</string>
		</dict>
		<key>art/SadEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{571, 601}, {42, 53}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 53}}</string>
			<key>sourceSize</key>
			<string>{42, 53}</string>
		</dict>
		<key>art/ScaredEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{732, 962}, {61, 33}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {61, 33}}</string>
			<key>sourceSize</key>
			<string>{61, 33}</string>
		</dict>
		<key>art/angertiletop.png</key>
		<dict>
			<key>frame</key>
			<string>{{188, 967}, {33, 8}}</string>
			<key>offset</key>
			<string>{0, -13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 26}, {33, 8}}</string>
			<key>sourceSize</key>
			<string>{33, 34}</string>
		</dict>
		<key>art/angry_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{141, 645}, {568, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {568, 320}}</string>
			<key>sourceSize</key>
			<string>{568, 320}</string>
		</dict>
		<key>art/angry_block.png</key>
		<dict>
			<key>frame</key>
			<string>{{711, 849}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>art/angry_block_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{865, 849}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>art/angry_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{989, 317}, {264, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {264, 34}}</string>
			<key>sourceSize</key>
			<string>{264, 34}</string>
		</dict>
		<key>art/angry_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{661, 607}, {33, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {33, 34}}</string>
			<key>sourceSize</key>
			<string>{33, 34}</string>
		</dict>
		<key>art/button.png</key>
		<dict>
			<key>frame</key>
			<string>{{91, 849}, {134, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {134, 48}}</string>
			<key>sourceSize</key>
			<string>{134, 48}</string>
		</dict>
		<key>art/calm_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{571, 1}, {568, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {568, 320}}</string>
			<key>sourceSize</key>
			<string>{568, 320}</string>
		</dict>
		<key>art/calm_block.png</key>
		<dict>
			<key>frame</key>
			<string>{{788, 849}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>art/calm_block_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{746, 926}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>art/calm_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{55, 985}, {264, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {264, 34}}</string>
			<key>sourceSize</key>
			<string>{264, 34}</string>
		</dict>
		<key>art/calm_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{711, 926}, {33, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {33, 34}}</string>
			<key>sourceSize</key>
			<string>{33, 34}</string>
		</dict>
		<key>art/coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{571, 571}, {20, 22}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 1}, {20, 22}}</string>
			<key>sourceSize</key>
			<string>{24, 24}</string>
		</dict>
		<key>art/fear_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {568, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {568, 320}}</string>
			<key>sourceSize</key>
			<string>{568, 320}</string>
		</dict>
		<key>art/fear_block.png</key>
		<dict>
			<key>frame</key>
			<string>{{780, 926}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>art/fear_block_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{857, 926}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>art/fear_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{626, 571}, {264, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {264, 34}}</string>
			<key>sourceSize</key>
			<string>{264, 34}</string>
		</dict>
		<key>art/fear_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{696, 607}, {33, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {33, 34}}</string>
			<key>sourceSize</key>
			<string>{33, 34}</string>
		</dict>
		<key>art/feartiletop.png</key>
		<dict>
			<key>frame</key>
			<string>{{153, 967}, {33, 8}}</string>
			<key>offset</key>
			<string>{0, -13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 26}, {33, 8}}</string>
			<key>sourceSize</key>
			<string>{33, 34}</string>
		</dict>
		<key>art/followmask.png</key>
		<dict>
			<key>frame</key>
			<string>{{593, 571}, {18, 30}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 2}, {18, 30}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>art/goldmask1.png</key>
		<dict>
			<key>frame</key>
			<string>{{440, 967}, {50, 76}}</string>
			<key>offset</key>
			<string>{0, 2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 0}, {50, 76}}</string>
			<key>sourceSize</key>
			<string>{80, 80}</string>
		</dict>
		<key>art/goldmask2.png</key>
		<dict>
			<key>frame</key>
			<string>{{893, 317}, {140, 94}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 32}, {140, 94}}</string>
			<key>sourceSize</key>
			<string>{140, 140}</string>
		</dict>
		<key>art/goldmask3.png</key>
		<dict>
			<key>frame</key>
			<string>{{372, 967}, {52, 66}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9, 2}, {52, 66}}</string>
			<key>sourceSize</key>
			<string>{70, 70}</string>
		</dict>
		<key>art/goldmask4.png</key>
		<dict>
			<key>frame</key>
			<string>{{893, 97}, {128, 94}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 32}, {128, 94}}</string>
			<key>sourceSize</key>
			<string>{140, 140}</string>
		</dict>
		<key>art/happy_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 323}, {568, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {568, 320}}</string>
			<key>sourceSize</key>
			<string>{568, 320}</string>
		</dict>
		<key>art/happy_block.png</key>
		<dict>
			<key>frame</key>
			<string>{{892, 601}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>art/happy_block_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{857, 960}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>art/happy_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{989, 583}, {264, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {264, 34}}</string>
			<key>sourceSize</key>
			<string>{264, 34}</string>
		</dict>
		<key>art/happy_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{626, 607}, {33, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {33, 34}}</string>
			<key>sourceSize</key>
			<string>{33, 34}</string>
		</dict>
		<key>art/happytiletop.png</key>
		<dict>
			<key>frame</key>
			<string>{{223, 967}, {33, 8}}</string>
			<key>offset</key>
			<string>{0, -13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 26}, {33, 8}}</string>
			<key>sourceSize</key>
			<string>{33, 34}</string>
		</dict>
		<key>art/icepartical.png</key>
		<dict>
			<key>frame</key>
			<string>{{141, 967}, {10, 16}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {10, 16}}</string>
			<key>sourceSize</key>
			<string>{16, 16}</string>
		</dict>
		<key>art/lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{610, 967}, {48, 60}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 2}, {48, 60}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>art/mario.png</key>
		<dict>
			<key>frame</key>
			<string>{{568, 967}, {40, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 50}}</string>
			<key>sourceSize</key>
			<string>{40, 50}</string>
		</dict>
		<key>art/mask.png</key>
		<dict>
			<key>frame</key>
			<string>{{33, 985}, {20, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 35}}</string>
			<key>sourceSize</key>
			<string>{20, 35}</string>
		</dict>
		<key>art/question_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{893, 193}, {122, 122}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 14}, {122, 122}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>art/sad0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{672, 967}, {58, 48}}</string>
			<key>offset</key>
			<string>{0, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 5}, {58, 48}}</string>
			<key>sourceSize</key>
			<string>{74, 70}</string>
		</dict>
		<key>art/sorrowtiletop.png</key>
		<dict>
			<key>frame</key>
			<string>{{258, 967}, {33, 8}}</string>
			<key>offset</key>
			<string>{0, -13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 26}, {33, 8}}</string>
			<key>sourceSize</key>
			<string>{33, 34}</string>
		</dict>
		<key>art/space-invaders.png</key>
		<dict>
			<key>frame</key>
			<string>{{767, 1003}, {22, 20}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 5}, {22, 20}}</string>
			<key>sourceSize</key>
			<string>{30, 30}</string>
		</dict>
		<key>art/star.png</key>
		<dict>
			<key>frame</key>
			<string>{{518, 967}, {50, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {50, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 48}</string>
		</dict>
		<key>art/tinymask_angry.png</key>
		<dict>
			<key>frame</key>
			<string>{{893, 459}, {140, 94}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 32}, {140, 94}}</string>
			<key>sourceSize</key>
			<string>{140, 140}</string>
		</dict>
		<key>art/tinymask_calm.png</key>
		<dict>
			<key>frame</key>
			<string>{{893, 1}, {128, 94}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 32}, {128, 94}}</string>
			<key>sourceSize</key>
			<string>{140, 140}</string>
		</dict>
		<key>art/tinymask_happy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 849}, {88, 134}}</string>
			<key>offset</key>
			<string>{0, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26, 0}, {88, 134}}</string>
			<key>sourceSize</key>
			<string>{140, 140}</string>
		</dict>
		<key>art/tinymask_scared.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 985}, {30, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 1}, {30, 38}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>art.png</string>
	</dict>
</dict>
</plist>
