<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>levelTitle</key>
		<string></string>
		<key>levelName</key>
		<string>Levels/Level_0</string>
		<key>levelDescription</key>
		<string></string>
	</dict>
	<dict>
		<key>levelName</key>
		<string>Tutorial1</string>
		<key>tutorialFragments</key>
		<array>
			<string>Tutorial1_0</string>
			<string>Tutorial1_1</string>
			<string>Tutorial1_2</string>
			<string>Tutorial1_3</string>
			<string>Tutorial1_4</string>
			<string>Tutorial1_5</string>
		</array>
		<key>isTutorial</key>
		<true/>
		<key>levelTitle</key>
		<string>Tutorial</string>
		<key>levelDescription</key>
		<string></string>
	</dict>
	<dict>
		<key>levelTitle</key>
		<string>Level 0</string>
		<key>levelName</key>
		<string>Level_2</string>
		<key>levelDescription</key>
		<string></string>
	</dict>
	<dict>
		<key>levelTitle</key>
		<string>Level 1</string>
		<key>levelName</key>
		<string>Level_tutorial</string>
		<key>levelDescription</key>
		<string></string>
	</dict>
	<dict>
		<key>levelTitle</key>
		<string>Level 2</string>
		<key>levelName</key>
		<string>Level1</string>
		<key>levelDescription</key>
		<string></string>
	</dict>
	<dict>
		<key>levelTitle</key>
		<string>Level 3</string>
		<key>levelName</key>
		<string>Level4</string>
		<key>levelDescription</key>
		<string></string>
	</dict>
	<dict>
		<key>levelTitle</key>
		<string>Level 4</string>
		<key>levelName</key>
		<string>Level5</string>
		<key>levelDescription</key>
		<string></string>
	</dict>
</array>
</plist>
