<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>levelTitle</key>
		<string>Level5:</string>
		<key>levelName</key>
		<string>Level5</string>
		<key>levelDescription</key>
		<string></string>
	</dict>
	<dict>
		<key>levelTitle</key>
		<string>Level2</string>
		<key>levelName</key>
		<string>Level_tutorial</string>
		<key>levelDescription</key>
		<string></string>
	</dict>
	<dict>
		<key>levelTitle</key>
		<string>Level4: Blah blah</string>
		<key>levelName</key>
		<string>Level4</string>
		<key>levelDescription</key>
		<string></string>
	</dict>
	<dict>
		<key>levelTitle</key>
		<string>Tutorial</string>
		<key>levelName</key>
		<string>Level_2</string>
		<key>levelDescription</key>
		<string></string>
	</dict>
	<dict>
		<key>levelTitle</key>
		<string>Level1: A new world</string>
		<key>levelName</key>
		<string>Level10</string>
		<key>levelDescription</key>
		<string></string>
	</dict>
	<dict>
		<key>levelTitle</key>
		<string>Level2: A mysterious Quest</string>
		<key>levelName</key>
		<string>Level1</string>
		<key>levelDescription</key>
		<string></string>
	</dict>
</array>
</plist>
