<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>sadmask0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 7}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1452, 304}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 154}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 154}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{605, 154}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{605, 604}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1210, 154}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{726, 154}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{121, 608}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{847, 154}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1331, 154}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{968, 154}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {119, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{119, 150}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 304}, {119, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {119, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{119, 150}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{363, 304}, {119, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {119, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{119, 150}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1210, 304}, {119, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {119, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{119, 150}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{121, 154}, {119, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {119, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{119, 150}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{847, 304}, {119, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {119, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{119, 150}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 154}, {119, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {119, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{119, 152}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{121, 0}, {119, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {119, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{119, 152}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{726, 0}, {119, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {119, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{119, 152}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{605, 0}, {119, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {119, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{119, 152}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1089, 0}, {119, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {119, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{119, 152}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1331, 0}, {119, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {119, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{119, 152}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{968, 0}, {119, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {119, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{119, 152}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 0}, {119, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {119, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{119, 152}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 0}, {119, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {119, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{119, 152}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1210, 0}, {119, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {119, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{119, 152}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{363, 0}, {119, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {119, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{119, 152}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1452, 0}, {119, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {119, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{119, 152}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1573, 0}, {119, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {119, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{119, 152}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{847, 0}, {119, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0031.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {119, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{119, 152}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1694, 0}, {119, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0032.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {119, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{119, 152}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {119, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0033.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {119, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{119, 152}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1815, 0}, {119, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0034.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {119, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{119, 150}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1929, 0}, {119, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0035.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {119, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{119, 150}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 304}, {119, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0036.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {119, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{119, 150}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{726, 304}, {119, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0037.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {119, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{119, 150}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1929, 152}, {119, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0038.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {119, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{119, 150}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{968, 304}, {119, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0039.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {119, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{119, 150}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 306}, {119, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0040.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {119, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{119, 150}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1089, 304}, {119, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0041.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {119, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{119, 150}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1331, 304}, {119, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0042.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {119, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{119, 150}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{121, 306}, {119, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0043.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1452, 454}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0044.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1089, 154}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0045.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {119, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{119, 150}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{605, 304}, {119, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0046.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 456}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0047.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{363, 456}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0048.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{363, 154}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0049.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 456}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0050.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {119, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{119, 146}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{726, 456}, {119, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0051.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 608}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0052.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {119, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{119, 146}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 606}, {119, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0053.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {119, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{119, 146}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{605, 456}, {119, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0054.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{121, 458}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0055.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {119, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{119, 146}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{726, 752}, {119, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0056.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {119, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{119, 146}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 606}, {119, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0057.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 7}, {119, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{119, 146}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{363, 606}, {119, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0058.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 7}, {119, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{119, 146}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{726, 604}, {119, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0059.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 7}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 458}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sadmask0060.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 7}, {119, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{119, 148}</string>
			<key>spriteSourceSize</key>
			<string>{119, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1452, 154}, {119, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>sadmask</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>sadmask_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>sadmask_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>