<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>art/AngryEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{36, 439}, {49, 56}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {49, 56}}</string>
			<key>sourceSize</key>
			<string>{49, 56}</string>
		</dict>
		<key>art/HappyEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{481, 155}, {31, 30}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {31, 30}}</string>
			<key>sourceSize</key>
			<string>{31, 30}</string>
		</dict>
		<key>art/SadEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{87, 439}, {42, 53}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 53}}</string>
			<key>sourceSize</key>
			<string>{42, 53}</string>
		</dict>
		<key>art/ScaredEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 439}, {61, 33}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {61, 33}}</string>
			<key>sourceSize</key>
			<string>{61, 33}</string>
		</dict>
		<key>art/angry_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 109}, {264, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {264, 34}}</string>
			<key>sourceSize</key>
			<string>{264, 34}</string>
		</dict>
		<key>art/angry_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{475, 262}, {33, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {33, 34}}</string>
			<key>sourceSize</key>
			<string>{33, 34}</string>
		</dict>
		<key>art/button.png</key>
		<dict>
			<key>frame</key>
			<string>{{131, 439}, {134, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {134, 48}}</string>
			<key>sourceSize</key>
			<string>{134, 48}</string>
		</dict>
		<key>art/calm_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 37}, {264, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {264, 34}}</string>
			<key>sourceSize</key>
			<string>{264, 34}</string>
		</dict>
		<key>art/calm_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{475, 227}, {33, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {33, 34}}</string>
			<key>sourceSize</key>
			<string>{33, 34}</string>
		</dict>
		<key>art/coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{485, 83}, {24, 24}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 24}}</string>
			<key>sourceSize</key>
			<string>{24, 24}</string>
		</dict>
		<key>art/fear_block_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{443, 367}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>art/fear_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 73}, {264, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {264, 34}}</string>
			<key>sourceSize</key>
			<string>{264, 34}</string>
		</dict>
		<key>art/fear_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 332}, {33, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {33, 34}}</string>
			<key>sourceSize</key>
			<string>{33, 34}</string>
		</dict>
		<key>art/followmask.png</key>
		<dict>
			<key>frame</key>
			<string>{{409, 335}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>art/goldmask1.png</key>
		<dict>
			<key>frame</key>
			<string>{{409, 1}, {80, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {80, 80}}</string>
			<key>sourceSize</key>
			<string>{80, 80}</string>
		</dict>
		<key>art/goldmask2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 145}, {140, 140}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 140}}</string>
			<key>sourceSize</key>
			<string>{140, 140}</string>
		</dict>
		<key>art/goldmask3.png</key>
		<dict>
			<key>frame</key>
			<string>{{409, 155}, {70, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 70}}</string>
			<key>sourceSize</key>
			<string>{70, 70}</string>
		</dict>
		<key>art/goldmask4.png</key>
		<dict>
			<key>frame</key>
			<string>{{267, 143}, {140, 140}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 140}}</string>
			<key>sourceSize</key>
			<string>{140, 140}</string>
		</dict>
		<key>art/happy_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {264, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {264, 34}}</string>
			<key>sourceSize</key>
			<string>{264, 34}</string>
		</dict>
		<key>art/happy_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 297}, {33, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {33, 34}}</string>
			<key>sourceSize</key>
			<string>{33, 34}</string>
		</dict>
		<key>art/lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{409, 227}, {64, 64}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>art/sad0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{409, 83}, {74, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {74, 70}}</string>
			<key>sourceSize</key>
			<string>{74, 70}</string>
		</dict>
		<key>art/tinymask_angry.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 297}, {140, 140}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 140}}</string>
			<key>sourceSize</key>
			<string>{140, 140}</string>
		</dict>
		<key>art/tinymask_calm.png</key>
		<dict>
			<key>frame</key>
			<string>{{267, 285}, {140, 140}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 140}}</string>
			<key>sourceSize</key>
			<string>{140, 140}</string>
		</dict>
		<key>art/tinymask_happy.png</key>
		<dict>
			<key>frame</key>
			<string>{{267, 1}, {140, 140}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 140}}</string>
			<key>sourceSize</key>
			<string>{140, 140}</string>
		</dict>
		<key>art/tinymask_scared.png</key>
		<dict>
			<key>frame</key>
			<string>{{409, 293}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>art.png</string>
	</dict>
</dict>
</plist>
