<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>happymask0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 59}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{56, 59}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 181}, {56, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {58, 55}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{58, 55}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 61}, {58, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {58, 55}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{58, 55}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 240}, {58, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {58, 55}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{58, 55}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 181}, {58, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {58, 55}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{58, 55}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{60, 187}, {58, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 6}, {58, 57}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{58, 57}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 122}, {58, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 6}, {58, 57}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{58, 57}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 63}, {58, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 6}, {58, 57}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{58, 57}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 122}, {58, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 6}, {58, 57}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{58, 57}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 63}, {58, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 6}, {58, 57}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{58, 57}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 181}, {58, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {56, 61}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{56, 61}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {56, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {56, 61}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{56, 61}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 0}, {56, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {56, 61}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{56, 61}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{60, 63}, {56, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {56, 61}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{56, 61}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 122}, {56, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {56, 61}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{56, 61}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 0}, {56, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {56, 61}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{56, 61}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{58, 0}, {56, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 59}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{56, 59}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 0}, {56, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 59}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{56, 59}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{60, 126}, {56, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 59}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{56, 59}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 0}, {56, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>happymask0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 59}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{56, 59}</string>
			<key>spriteSourceSize</key>
			<string>{62, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 61}, {56, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>happymask</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>happymask_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>happymask_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>