<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>art/AngryEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{845, 725}, {198, 224}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {198, 224}}</string>
			<key>sourceSize</key>
			<string>{198, 224}</string>
		</dict>
		<key>art/HappyEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1919, 583}, {126, 122}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {126, 122}}</string>
			<key>sourceSize</key>
			<string>{126, 122}</string>
		</dict>
		<key>art/SadEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{845, 553}, {170, 212}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {170, 212}}</string>
			<key>sourceSize</key>
			<string>{170, 212}</string>
		</dict>
		<key>art/ScaredEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{563, 1093}, {244, 134}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {244, 134}}</string>
			<key>sourceSize</key>
			<string>{244, 134}</string>
		</dict>
		<key>art/angry_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 415}, {1056, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1056, 136}}</string>
			<key>sourceSize</key>
			<string>{1056, 136}</string>
		</dict>
		<key>art/angry_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{1621, 605}, {132, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 136}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/button.png</key>
		<dict>
			<key>frame</key>
			<string>{{821, 951}, {538, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {538, 192}}</string>
			<key>sourceSize</key>
			<string>{538, 192}</string>
		</dict>
		<key>art/calm_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 139}, {1056, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1056, 136}}</string>
			<key>sourceSize</key>
			<string>{1056, 136}</string>
		</dict>
		<key>art/calm_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{563, 1391}, {132, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 136}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{1943, 1}, {96, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 96}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>art/fear_block_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{1919, 453}, {128, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>art/fear_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 277}, {1056, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1056, 136}}</string>
			<key>sourceSize</key>
			<string>{1056, 136}</string>
		</dict>
		<key>art/fear_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{1897, 707}, {132, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 136}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/followmask.png</key>
		<dict>
			<key>frame</key>
			<string>{{1919, 323}, {128, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>art/goldmask1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1621, 1}, {320, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>sourceSize</key>
			<string>{320, 320}</string>
		</dict>
		<key>art/goldmask2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1115}, {560, 560}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {560, 560}}</string>
			<key>sourceSize</key>
			<string>{560, 560}</string>
		</dict>
		<key>art/goldmask3.png</key>
		<dict>
			<key>frame</key>
			<string>{{563, 553}, {280, 280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {280, 280}}</string>
			<key>sourceSize</key>
			<string>{280, 280}</string>
		</dict>
		<key>art/goldmask4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 553}, {560, 560}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {560, 560}}</string>
			<key>sourceSize</key>
			<string>{560, 560}</string>
		</dict>
		<key>art/happy_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1056, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1056, 136}}</string>
			<key>sourceSize</key>
			<string>{1056, 136}</string>
		</dict>
		<key>art/happy_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{1759, 605}, {132, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 136}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{563, 835}, {256, 256}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {256, 256}}</string>
			<key>sourceSize</key>
			<string>{256, 256}</string>
		</dict>
		<key>art/sad0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{1621, 323}, {296, 280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {296, 280}}</string>
			<key>sourceSize</key>
			<string>{296, 280}</string>
		</dict>
		<key>art/tinymask_angry.png</key>
		<dict>
			<key>frame</key>
			<string>{{1059, 563}, {560, 560}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {560, 560}}</string>
			<key>sourceSize</key>
			<string>{560, 560}</string>
		</dict>
		<key>art/tinymask_calm.png</key>
		<dict>
			<key>frame</key>
			<string>{{1015, 1125}, {560, 560}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {560, 560}}</string>
			<key>sourceSize</key>
			<string>{560, 560}</string>
		</dict>
		<key>art/tinymask_happy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1059, 1}, {560, 560}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {560, 560}}</string>
			<key>sourceSize</key>
			<string>{560, 560}</string>
		</dict>
		<key>art/tinymask_scared.png</key>
		<dict>
			<key>frame</key>
			<string>{{563, 1229}, {160, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {160, 160}}</string>
			<key>sourceSize</key>
			<string>{160, 160}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>art.png</string>
	</dict>
</dict>
</plist>
