<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>art/AngryEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{3557, 996}, {396, 448}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {396, 448}}</string>
			<key>sourceSize</key>
			<string>{396, 448}</string>
		</dict>
		<key>art/HappyEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3847}, {252, 244}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {252, 244}}</string>
			<key>sourceSize</key>
			<string>{252, 244}</string>
		</dict>
		<key>art/SadEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{3557, 1394}, {340, 424}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {340, 424}}</string>
			<key>sourceSize</key>
			<string>{340, 424}</string>
		</dict>
		<key>art/ScaredEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{3557, 726}, {488, 268}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {488, 268}}</string>
			<key>sourceSize</key>
			<string>{488, 268}</string>
		</dict>
		<key>art/angertiletop.png</key>
		<dict>
			<key>frame</key>
			<string>{{4047, 926}, {132, 32}}</string>
			<key>offset</key>
			<string>{0, -52}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 104}, {132, 32}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/angry_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2565}, {2272, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 1280}}</string>
			<key>sourceSize</key>
			<string>{2272, 1280}</string>
		</dict>
		<key>art/angry_block.png</key>
		<dict>
			<key>frame</key>
			<string>{{3531, 2599}, {300, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 300}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>art/angry_block_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{1181, 3847}, {128, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>art/angry_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{3934, 2068}, {1056, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1056, 136}}</string>
			<key>sourceSize</key>
			<string>{1056, 136}</string>
		</dict>
		<key>art/angry_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{389, 3847}, {132, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 136}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/calm_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{2275, 1}, {2272, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 1280}}</string>
			<key>sourceSize</key>
			<string>{2272, 1280}</string>
		</dict>
		<key>art/calm_block.png</key>
		<dict>
			<key>frame</key>
			<string>{{2275, 2703}, {300, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 300}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>art/calm_block_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{791, 3847}, {128, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>art/calm_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{2275, 2413}, {1056, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1056, 136}}</string>
			<key>sourceSize</key>
			<string>{1056, 136}</string>
		</dict>
		<key>art/calm_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{657, 3847}, {132, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 136}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/fear_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {2272, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 1280}}</string>
			<key>sourceSize</key>
			<string>{2272, 1280}</string>
		</dict>
		<key>art/fear_block.png</key>
		<dict>
			<key>frame</key>
			<string>{{2275, 3126}, {300, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 300}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>art/fear_block_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{921, 3847}, {128, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>art/fear_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{2275, 2551}, {1056, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1056, 136}}</string>
			<key>sourceSize</key>
			<string>{1056, 136}</string>
		</dict>
		<key>art/fear_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{523, 3847}, {132, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 136}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/feartiletop.png</key>
		<dict>
			<key>frame</key>
			<string>{{4047, 792}, {132, 32}}</string>
			<key>offset</key>
			<string>{0, -52}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 104}, {132, 32}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/happy_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1283}, {2272, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 1280}}</string>
			<key>sourceSize</key>
			<string>{2272, 1280}</string>
		</dict>
		<key>art/happy_block.png</key>
		<dict>
			<key>frame</key>
			<string>{{3535, 2297}, {300, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 300}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>art/happy_block_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{1051, 3847}, {128, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>art/happy_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{2275, 2275}, {1056, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1056, 136}}</string>
			<key>sourceSize</key>
			<string>{1056, 136}</string>
		</dict>
		<key>art/happy_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{255, 3847}, {132, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 136}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/happytiletop.png</key>
		<dict>
			<key>frame</key>
			<string>{{4007, 1298}, {132, 32}}</string>
			<key>offset</key>
			<string>{0, -52}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 104}, {132, 32}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/icepartical.png</key>
		<dict>
			<key>frame</key>
			<string>{{4047, 726}, {47, 64}}</string>
			<key>offset</key>
			<string>{-4, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 0}, {47, 64}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>art/mario.png</key>
		<dict>
			<key>frame</key>
			<string>{{3934, 1736}, {158, 200}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {158, 200}}</string>
			<key>sourceSize</key>
			<string>{160, 200}</string>
		</dict>
		<key>art/mask.png</key>
		<dict>
			<key>frame</key>
			<string>{{4007, 1154}, {80, 142}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {80, 142}}</string>
			<key>sourceSize</key>
			<string>{80, 142}</string>
		</dict>
		<key>art/sad0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{3333, 2469}, {232, 196}}</string>
			<key>offset</key>
			<string>{-2, 26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30, 16}, {232, 196}}</string>
			<key>sourceSize</key>
			<string>{296, 280}</string>
		</dict>
		<key>art/sorrowtiletop.png</key>
		<dict>
			<key>frame</key>
			<string>{{4041, 1298}, {132, 32}}</string>
			<key>offset</key>
			<string>{0, -52}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 104}, {132, 32}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/space-invaders.png</key>
		<dict>
			<key>frame</key>
			<string>{{4007, 1060}, {92, 84}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14, 18}, {92, 84}}</string>
			<key>sourceSize</key>
			<string>{120, 120}</string>
		</dict>
		<key>art/star.png</key>
		<dict>
			<key>frame</key>
			<string>{{3333, 2275}, {200, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 192}}</string>
			<key>sourceSize</key>
			<string>{200, 192}</string>
		</dict>
		<key>art/tinymask_angry.png</key>
		<dict>
			<key>frame</key>
			<string>{{3557, 1736}, {559, 375}}</string>
			<key>offset</key>
			<string>{0, -34}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 127}, {559, 375}}</string>
			<key>sourceSize</key>
			<string>{560, 560}</string>
		</dict>
		<key>art/tinymask_calm.png</key>
		<dict>
			<key>frame</key>
			<string>{{3557, 351}, {512, 373}}</string>
			<key>offset</key>
			<string>{0, -33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24, 127}, {512, 373}}</string>
			<key>sourceSize</key>
			<string>{560, 560}</string>
		</dict>
		<key>art/tinymask_happy.png</key>
		<dict>
			<key>frame</key>
			<string>{{3557, 1}, {348, 534}}</string>
			<key>offset</key>
			<string>{-1, 13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{105, 0}, {348, 534}}</string>
			<key>sourceSize</key>
			<string>{560, 560}</string>
		</dict>
		<key>art/tinymask_scared.png</key>
		<dict>
			<key>frame</key>
			<string>{{3934, 1938}, {128, 158}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 0}, {128, 158}}</string>
			<key>sourceSize</key>
			<string>{160, 160}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>art.png</string>
	</dict>
</dict>
</plist>
