<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>art/AngryEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{3859, 199}, {198, 224}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {198, 224}}</string>
			<key>sourceSize</key>
			<string>{198, 224}</string>
		</dict>
		<key>art/HappyEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{3971, 1699}, {126, 122}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {126, 122}}</string>
			<key>sourceSize</key>
			<string>{126, 122}</string>
		</dict>
		<key>art/angertiletop.png</key>
		<dict>
			<key>frame</key>
			<string>{{4061, 399}, {132, 32}}</string>
			<key>offset</key>
			<string>{0, -52}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 104}, {132, 32}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/angry_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{2275, 1}, {2272, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 1280}}</string>
			<key>sourceSize</key>
			<string>{2272, 1280}</string>
		</dict>
		<key>art/angry_block.png</key>
		<dict>
			<key>frame</key>
			<string>{{3557, 605}, {300, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 300}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>art/angry_block_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{797, 2565}, {128, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>art/angry_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{3833, 1699}, {1056, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1056, 136}}</string>
			<key>sourceSize</key>
			<string>{1056, 136}</string>
		</dict>
		<key>art/angry_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{269, 2565}, {132, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 136}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/calm_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1283}, {2272, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 1280}}</string>
			<key>sourceSize</key>
			<string>{2272, 1280}</string>
		</dict>
		<key>art/calm_block.png</key>
		<dict>
			<key>frame</key>
			<string>{{3557, 303}, {300, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 300}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>art/calm_block_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{537, 2565}, {128, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>art/calm_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{3557, 1209}, {1056, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1056, 136}}</string>
			<key>sourceSize</key>
			<string>{1056, 136}</string>
		</dict>
		<key>art/calm_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2565}, {132, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 136}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/fear_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2757}, {2272, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 1280}}</string>
			<key>sourceSize</key>
			<string>{2272, 1280}</string>
		</dict>
		<key>art/fear_block.png</key>
		<dict>
			<key>frame</key>
			<string>{{3557, 907}, {300, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 300}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>art/fear_block_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{667, 2565}, {128, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>art/fear_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{3695, 1209}, {1056, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1056, 136}}</string>
			<key>sourceSize</key>
			<string>{1056, 136}</string>
		</dict>
		<key>art/fear_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{403, 2565}, {132, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 136}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/feartiletop.png</key>
		<dict>
			<key>frame</key>
			<string>{{4061, 533}, {132, 32}}</string>
			<key>offset</key>
			<string>{0, -52}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 104}, {132, 32}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/happy_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {2272, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 1280}}</string>
			<key>sourceSize</key>
			<string>{2272, 1280}</string>
		</dict>
		<key>art/happy_block.png</key>
		<dict>
			<key>frame</key>
			<string>{{3557, 1}, {300, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 300}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>art/happy_block_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{927, 2565}, {128, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>art/happy_blocklong.png</key>
		<dict>
			<key>frame</key>
			<string>{{3859, 641}, {1056, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1056, 136}}</string>
			<key>sourceSize</key>
			<string>{1056, 136}</string>
		</dict>
		<key>art/happy_blocksmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{135, 2565}, {132, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 136}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/happytiletop.png</key>
		<dict>
			<key>frame</key>
			<string>{{4003, 625}, {132, 32}}</string>
			<key>offset</key>
			<string>{0, -52}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 104}, {132, 32}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/icepartical.png</key>
		<dict>
			<key>frame</key>
			<string>{{4003, 559}, {47, 64}}</string>
			<key>offset</key>
			<string>{-4, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 0}, {47, 64}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>art/mario.png</key>
		<dict>
			<key>frame</key>
			<string>{{3859, 399}, {158, 200}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {158, 200}}</string>
			<key>sourceSize</key>
			<string>{160, 200}</string>
		</dict>
		<key>art/mask.png</key>
		<dict>
			<key>frame</key>
			<string>{{3859, 559}, {80, 142}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {80, 142}}</string>
			<key>sourceSize</key>
			<string>{80, 142}</string>
		</dict>
		<key>art/sad0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{3859, 1}, {232, 196}}</string>
			<key>offset</key>
			<string>{-2, 26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30, 16}, {232, 196}}</string>
			<key>sourceSize</key>
			<string>{296, 280}</string>
		</dict>
		<key>art/sorrowtiletop.png</key>
		<dict>
			<key>frame</key>
			<string>{{3997, 845}, {132, 32}}</string>
			<key>offset</key>
			<string>{0, -52}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 104}, {132, 32}}</string>
			<key>sourceSize</key>
			<string>{132, 136}</string>
		</dict>
		<key>art/space-invaders.png</key>
		<dict>
			<key>frame</key>
			<string>{{3997, 759}, {92, 84}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 18}, {92, 84}}</string>
			<key>sourceSize</key>
			<string>{120, 120}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>art.png</string>
	</dict>
</dict>
</plist>
